---
import HeaderLayout from "./HeaderLayout.astro";
import FooterLayout from "./FooterLayout.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<HeaderLayout />
		<div class="prose container mx-auto max-w-4xl">
			<div class="min-h-screen flex flex-col flex-grow">
				<h1>{pageTitle}</h1>
				<slot />
			</div>
			<FooterLayout />
		</div>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
