<header class="text-black">
    <div class="flex justify-between items-center py-4 px-6">
        <a href="/" class="text-2xl font-bold no-underline">Flynn's Blog</a>
        <nav class="hidden md:flex space-x-6">
            <a href="/about" class="hover:text-gray-400 no-underline">About me</a>
            <a href="/tags" class="hover:text-gray-400 no-underline">Tags</a>
        </nav>
    </div>
</header>
